body {
  margin: 0;
  padding: 0;
}

#imagen {
  /* Estilos para la imagen si es necesario */
}

.circle {
  position: absolute; /* Posiciona el círculo sobre la imagen */
  border-radius: 50%; /* Hace que el círculo sea redondo */
  width: 50px; /* Tamaño del círculo */
  height: 50px;
  background: rgb(60, 255, 0); /* Color amarillo translúcido */
  animation: pulsate 2s infinite; /* Animación de pulsación */
  cursor: pointer; /* Cambia el cursor a una mano para indicar interactividad */
}

@keyframes pulsate {
  0% {
    transform: scale(2); /* Escala normal */
    opacity: 1; /* Opacidad inicial */
  }
  50% {
    transform: scale(1.5); /* Escala durante la pulsación */
    opacity: 0.5; /* Opacidad más alta durante la pulsación */
  }
  100% {
    transform: scale(2); /* Vuelve a la escala original */
    opacity: 1; /* Vuelve a la opacidad inicial */
  }
}

.message-box {
  display: none; /* Inicialmente oculto */
  position: absolute;
  background: rgba(0, 0, 0, 0.7); /* Fondo oscuro translúcido */
  color: white; /* Texto en blanco */
  padding: 10px; /* Espacio interno */
  border-radius: 5px; /* Bordes redondeados */
  z-index: 999; /* Asegura que está por encima de otros elementos */
}

.hidden {
  display: none !important;
}

.close-btn {
  font-size: 0.75em; /* Tamaño de la fuente */
  cursor: pointer; /* Cambia el cursor a una mano para indicar interactividad */
  float: right; /* Alinea el botón de cierre a la derecha */
}

@media (orientation: portrait) {
  .container {
      display: none;
  }

  .flip-landscape {
      display: block;
  }

  .fa-rotate {
      margin-top: 25vh;
      font-size: 100vw;
  }
}

@media (orientation: landscape) {

  .flip-landscape {
      display: none;
  }


}
/**
.flip-landscape img{
  display:block;
  margin:auto;
}
.flip-landscape p {
  text-align: center;
  justify-content: center;
  color: red;
  font-size: 100px;
}

**/

/* Estilos para .flip-landscape */
.flip-landscape {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 600px;
  width: 100%;
}

.flip-landscape img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.flip-landscape p {
  text-align: center;
  color: #e74c3c;
  font-size: 2em;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}